<div class="flex h-screen w-screen">
    <aside class="w-[20%]">
    <div class="flex w-full h-full">
        <!-- <div  class="bg-blue-550 rounded-md ">
            Test
        </div> -->
    </div>
    </aside>
    <main class="flex-1 p-4">
        <div class="flex  bg-white w-full h-full rounded-[58px]">
            <div class="flex items-center justify-center w-full mt-auto">
                <div class="w-[60%] my-6">
                    <input placeholder="Ask me anything" class="w-full h-14 bg-blue-650 border-green-650 outline-none rounded-full"/>
                </div>
            </div>
          
        </div>
    </main>
</div>