<div class="h-screen flex">
  <div class="p-3 space-y-2 overflow-y-scroll bg-gray-900">
    <app-navigation-bar class="block text-white" [active]=" activeURL() === '/'" to="/" > 
    </app-navigation-bar>
    @for(num of nums;track $index){
    <app-navigation-bar class="block text-white" [active]="activeURL() === '/channel/'+$index" [to]="'/channel/'+$index">
      {{$index}}
    </app-navigation-bar>
    }
  </div>
  <div class="w-60 bg-gray-800"></div>
  <div class="flex-1 bg-gray-600">
  <router-outlet></router-outlet>
  </div>
</div> 
