<div class="h-screen flex">
  <div class="p-3 space-y-2 overflow-y-scroll bg-gray-900">
    <app-navigation-bar
      class="block text-gray-100"
      [active]="activeURL() === '/'"
      to="/"
    >
    </app-navigation-bar>
    <hr class="border-t-white/[0.06] border-t-2 mx-2" />
    @for(server of servers;track $index){
    <app-navigation-bar
      class="block text-gray-100"
      [active]="activeURL() === '/channel/' + $index"
      [to]="'/channel/' + $index"
    >
      <img [src]="server.img" />
    </app-navigation-bar>
    }
  </div>
  <!-- <app-channel-detail class="contents"></app-channel-detail> -->
  <router-outlet class="contents"></router-outlet>
</div>
