<header>
    <nav>
        <ul>
            <li   >
                <a  [routerLink]="['/skeleton']" routerLinkActive="router-link-active">Skeleton</a>

                </li>
            <li>
                <a  [routerLink]="['/popover']" routerLinkActive="router-link-active">Popover</a>
            </li>
            <li>
                <a  [routerLink]="['/table']" routerLinkActive="router-link-active">Basic Table</a>
            </li>
            <li>
                <a  [routerLink]="['/button']" routerLinkActive="router-link-active">Button</a>
            </li>
            <li>
                <a  [routerLink]="['/']" routerLinkActive="router-link-active">Labs</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>


<rosy-button >Add</rosy-button>

<div></div>
<!-- <nav style="position: fixed;padding: 1rem;width: 100vw;background-color: black;color: white;">
  <span>Item 1
    <div class="container" >
      <ul style="background-color: red;">
        <li>Item 1.1</li>
        <li>Item 1.2</li>
        <li>Item 1.3</li>
        <li>Item 1.4
         <div style="position: absolute;left: 100%;top:0;height: 100%;">
          <ul style="background-color: palegreen;color: black;height: 100%;overflow-y: scroll;">
            <li style="width: 100px;">Item 1.4.1</li>
            <li>Item 1.4.2</li>
            <li>Item 1.4.3</li>
            <li>Item 1.4.3</li>
            <li>Item 1.4.3</li>
            <li>Item 1.4.3
              <div style="position: absolute;left: 100%;top:0;height: 100%;">
                <ul style="background-color: palegreen;color: black;height: 100%;overflow-y: scroll;">
                  <li style="width: 100px;">Item 1.4.1</li>
                  <li>Item 1.4.2</li>
                  <li>Item 1.4.3</li>
                  <li>Item 1.4.3</li>
                  <li>Item 1.4.3</li>
                  <li>Item 1.4.3</li>
                </ul>
               </div>
            </li>
          </ul>
         </div>
        </li>
      </ul>
    </div>
  </span>
</nav> -->

