<header>
    <nav>
        <ul>
            <li   >
                <a  [routerLink]="['/skeleton']" routerLinkActive="router-link-active">Skeleton</a>
                
                </li>
            <li>
                <a  [routerLink]="['/popover']" routerLinkActive="router-link-active">Popover</a>
            </li>
            <li>
                <a  [routerLink]="['/table']" routerLinkActive="router-link-active">Basic Table</a>
            </li>
            <li>
                <a  [routerLink]="['/']" routerLinkActive="router-link-active">Labs</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>