
.gray {
  background-color: #e2e2e2;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

// .circle {
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
// }

.short-row {
  height: 30px;
  flex: 1;
  border-radius: 8px;
}

.body-box {
  margin-top: 12px;
  width: 342px;
  height: 100px;
  border-radius: 8px;
}

.container {
  display: inline-block;

}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap:1rem;
    .right-side{
      // width:20%;
    }
    rosy-shimmer-loader:nth-of-type(1){
     --height: 30px;
     --width:80%;
    }
    // container-type:inline-size;
    // @container(min-width: 650px){
    //   rosy-shimmer-loader:nth-child(1){
    //     --width:80%;
    //   }
    // }
    div{
      display:flex;
      gap:1rem;
      align-items:center;
    }
}
.card-wrapper{
    margin-top: 2rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;

}
.card-container{
  display:flex;
  gap:1rem;
  .card{
    --width:400px;
    --height: 200px;
  }
}
.footer{
  margin-top:1rem;
  overflow: hidden;
display: flex;
gap:1rem;
}
.footer-card{
--width:100px;
--height: 100px;
}

.header{
  display: flex;
  align-items: center;
}
header{
  animation: blur-in linear forwards;
  position: sticky;
  overflow: hidden;

  top: 0;
  animation-timeline: scroll();
  animation-range: 0 56px;
}

#counter {
  height: 20px;
    line-height: 20px;
    display: flex
;
    flex-direction: row;
    overflow: hidden;
}

#counter ul{
  margin-top: -220px;
    display: inline;
  transform: translateY(220px);
}
// {
// transform: translateY(-60px);
// }
// element.style {
//     margin-top: -260px;
// }

// transform: translateY(-20px);
// }
// element.style {
//     margin-top: 0px;}


// }

//     transform: translateY(-200px);
//   }
//   element.style {
//       margin-top: -220px;}

//   }

//   transform: translateY(0px);
// }
// element.style {
//     margin-top: -220px;}




/*
  --------MAIN START-------
*/

main{
  width: 100vw;
  padding-top: 100px;
}

/*
  --------END-------
*/



/*
  --------START-------
*/

app-nav{
  a {
    text-decoration: inherit;
    color: black;
    background: none;
  }
}

/*
  --------END-------
*/

