
.gray {
  background-color: #e2e2e2;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

// .circle {
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
// }

.short-row {
  height: 30px;
  flex: 1;
  border-radius: 8px;
}

.body-box {
  margin-top: 12px;
  width: 342px;
  height: 100px;
  border-radius: 8px;
}

.container {
  display: inline-block;
}
.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    div{
      display:flex;
      gap:1rem;
      align-items:center;
    }
}
.card-wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.card-container{
  display:flex;
  gap:1rem;
  .card{
    --width:400px;
    --height: 200px;
  }
}
.footer{
  margin-top:1rem;
display: flex;
gap:1rem;
}
.footer-card{
--width:100px;
--height: 100px;
}
