
<!-- <simple-select [options]='data' ></simple-select> -->
 <rosy-avatar-group style="--width:20px;height: 20px;">
  @for (item of imgSrc; track $index) {
      <rosy-avatar [urlSrc]="item" [style.--index]="$index"></rosy-avatar>
  }
 </rosy-avatar-group>


<!--
 
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>

<ul>
  <li class="card">Card 1</li>
  <li class="card">Card 2</li>
  <li class="card">Card 3</li>
  <li class="card">Card 4</li>
</ul>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corporis aliquid temporibus culpa perferendis reprehenderit ex? Repudiandae, obcaecati vero accusantium doloribus sed voluptas exercitationem delectus, assumenda fugit enim, distinctio blanditiis.</p> -->
